#siteTitle{
padding-bottom: 15px;
}

.Title2{
padding-bottom: 15px;
}


nav{
padding: 30px 0 20px;
margin-top: 10px;
border-top-width: 1px;
border-top-style: dashed;
border-bottom-width: 1px;
border-bottom-style: dashed;
}

footer{
padding-top: 30px;
}