/* TEXT COLORS */

body{
color: #333333;
}

.movie-background {
background:none;
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
zoom: 1;
background-color: rgba(0,0,0,0.6);
min-width: inherit;
}

*:first-child+html .movie-background { min-width: 100%; }

.form-input-field{
color: #1E1E1E;
}

#sectionWrap a {
color: #666666;
}

#sectionWrap a:hover {
color: #999999;
}

h1, h2, h3, h4, h5, h6, 
.blog-entry-title a, 
.blog-entry-date,
.blog-archive-month,
.blog-entry-title a:hover, 
.album-title, 
.movie-page-title {
color: #222222;
}

#siteTitle, 
#siteTitle a,
footer {
color: #FFFFFF;
}

.Title2 {
color: #FFFFFF;
}

h2#aside,
nav>ul>li,
#blog-rss-feeds:before, 
ul.blog-tag-cloud:before, 
#blog-archives:before, 
#blog-categories:before {
color: %colour_side_title%;
}

aside{
color:#FFFFFF;
}

aside a{
color:#FFFFFF;
}

aside a:hover{
color:#FFFFFF;
}

#asideTitle{
color:#FFFFFF;
}

#siteTitle{
border-bottom-color: #6F6F6F;
}

.Title2{
border-bottom-color: #6F6F6F;
}

nav{
border-top-color: #6F6F6F;
border-bottom-color: #6F6F6F;
}

footer{
border-top-color: #6F6F6F;
}

nav>ul>li a,
.blog-rss-link, 
ul.blog-tag-cloud a {
color: #FFFFFF;
}

nav>ul>li a:hover, 
.photo-links a:hover,
nav>ul>li a.current, 
nav>ul>li a.currentAncestor,
footer a {
color: #FFFBD6;
}

nav>ul>li li a {
color: #FFFFFF;
}

nav>ul>li li a:hover,
nav>ul>li li a.current,
nav>ul>li li a.current:hover,
nav>ul>li li a.currentAncestor,
nav>ul>li li a.currentAncestor:hover {
color: #FFFBD6;
}

#swatchA{background-color: #30662C;}
#swatchB{background-color: #8EC641;}
#swatchC{background-color: #FFFF66;}

#socialIcons a{color:#BBBBBB;}

#socialIcons a:hover{color:#333333;}